<h1>Actors</h1>
<h3><%= link_to 'New Actor', '/actors/new' %></h3>
<% @actors.each do |actor| %>
  <p><h2><%= actor.name %></h2><strong><%= link_to "Update #{actor.name}", "/actors/#{actor.id}/edit", id: "actor-#{actor.id}" %></strong></p> 
  <p>Still Active: <%= actor.still_active %></p>
  <p>Age: <%= actor.age %></p>
  <p>Created At: <%= actor.created_at %></p>
  <%# <p><%= link_to "Update #{actor.name}", "/actors/#{actor.id}/edit", id: "actor-#{actor.id}" %>
  <p><%= link_to "Delete #{actor.name}", "/actors/#{actor.id}", id: "actor-#{actor.id}", method: :delete %></p> 
<% end %>





